@charset 'utf-8';
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: 0 none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
button,
input {
  vertical-align: middle;
}
button {
  cursor: pointer;
}
img {
  border: 0 none;
}
